/node_modules
/web.config
/web/iisnode
/routes/*
/web.js
/.idea
*.iml
target
*/target
*/.project
*/.classpath
*/.settings

*.classpath

*.project

*.prefs
*.class

/.settings/org.eclipse.wst.common.project.facet.core.xml
/bin
